
/**
Change all link color
**/

a:link, a:visited{ 
  /* unvisited and visted link */
  color: #888;
  text-decoration: none;
  font-family: STFangSong, Helvetica, Vernada, Tahoma, STXihei, "Songti SC", SimSun, sans-serif;
}

a:hover {
  /* when mouse hover on link */
  color: #000;
}

a:active {color:#003; outline:none;}

#site-main-title {
    padding-left: 2rem;
    font-family: "Songti SC",Helvetica, Vernada, Tahoma, STXihei, SimSun, sans-serif;
}

#article-list {
    padding-left: 4rem;
    color: red;
    list-style-type: none; 
}

#article-list li {
  font-size: 1.5rem;
}