
/**
Change all link color
**/

a:link, a:visited{ 
  /* unvisited and visted link */
  color: #42af9f;
  font-family: STFangSong, Helvetica, Vernada, Tahoma, STXihei, "Songti SC", SimSun, sans-serif;
}

a:hover {
  /* when mouse hover on link */
  color: #61c6b7;
}

#site-main-title {
    padding-left: 2rem;
}

#article-list {
    padding-left: 4rem;
    color: red;
    list-style-type: none; 
}

#article-list li {
  font-size: 1.5rem;
}