
/**
Change all link color
**/

body {
  font-family: "Songti SC",Helvetica, Vernada, Tahoma, STXihei, SimSun, sans-serif;
  font-size: 1rem;
  background-color: #111;
  color: white;
}

/* navigator ============================= */
nav {
  font-family: STFangSong, Helvetica, Vernada, Tahoma, STXihei, "Songti SC", SimSun, sans-serif;
  align-self: flex-end;
  font-size: 30px;
}

nav ul {
  list-style-type: none;
}

/* ======================================= */

a:link, a:visited{ 
  /* unvisited and visted link */
  color: #d3585c;
  text-decoration: none;
  font-family: STFangSong, Helvetica, Vernada, Tahoma, STXihei, "Songti SC", SimSun, sans-serif;
}

a:hover {
  /* when mouse hover on link */
  color: #d37a7d;
}

a:active {color:#003; outline:none;}

#site-main-title {
    padding-left: 2rem;
    font-family: "Songti SC",Helvetica, Vernada, Tahoma, STXihei, SimSun, sans-serif;
}

#article-list {
    padding-left: 4rem;
    color: red;
    list-style-type: none; 
}

#article-list li {
  font-size: 2rem;
  padding-bottom: 1.2rem;
}

/* =============== */
/* Music Container */
/* =============== */

.music {
  height: 300px;
  width: 300px;

}